h1 {
  text-align: center;
}

nav {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav * {
  margin: 0 7px;
}

.slider {
  display: inline-block;
  width: 200px;
}

.container {
  display: flex;
  justify-content: center;
}

ul {
  height: 800px;
  width: 200px;
  background: yellow;
  margin: 0;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  text-align: center;
}

img {
  cursor: pointer;
  box-sizing: border-box;
  margin: 10px 0;
  width: 150px;
  height: 150px;
}

.selected {
  box-shadow: 0 0 20px teal;
}

canvas {
  width: 800px;
  height: 800px;
}

canvas:hover {
  cursor: none;
}
