body {
  background: black;
  color: rgb(8, 146, 208);
}

body * {
  font-family: 'Roboto', sans-serif;
}

h1, h3 {
  text-align: center;
}

nav {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav * {
  margin: 0 7px;
}

button {
  font-size: 12px;
  color: inherit;
  border: 3px solid;
  background: black;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.slider {
  width: 200px;
}

.slider span:focus {
  outline: none;
}

.slider span:hover {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
}

.sidebar {
  height: 800px;
  width: 200px;
}

.buttons button {
  display: inline-block;
  width: 150px;
  padding: 5px;
  margin-bottom: 10px;
}

.buttons {
  height: 120px;
  text-align: center;
}

ul {
  text-align: center;
  height: 680px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  list-style: none;
}

img {
  border: 1px solid gray;
  cursor: pointer;
  margin: 10px 0;
  width: 150px;
  height: 150px;
}

.selected {
  box-shadow: 0 0 20px rgba(8, 146, 208, 0.8);
}

canvas {
  width: 800px;
  height: 800px;
  border: 1px solid gray;
}

@media screen and (max-height: 900px) {
  canvas {
    width: 600px;
    height: 600px;
  }

  ul {
    height: 480px;
  }
}


canvas:hover {
  cursor: none;
}

.pan-hover:hover {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.pan-grab:hover {
  cursor: move;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

p {
  padding-left: 10px;
}
