body {
  text-align: center;
  background-color: black;
  color: white;
}

canvas {
  border: 1px solid gray;
}

nav {
  padding-bottom: 10px;
}

#speed-slider {
  display: inline-block;
  width: 200px;
  margin: 0 20px;
}
